html, body {
	height: 100%;
	margin: 0;
	width: 100%;
} 
body {
	background-color: white;
	display: flex;
	flex-direction: column;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0px;
	width: 100%;
}
.countBox {
	padding: 10px 0px;
}
.countIndex {
	color: white;
	padding: 5px;
	text-align: center;
}
.countValue {
	align-items: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-height: 30px;
	max-width: 30px;
	min-height: 30px;
	min-width: 30px;
	text-align: center;
}
.highlightOnHover:hover {
	background-color: #007cc7;
}
.sideNavDiv {
	height: 50px;
	width: 100%;
}
.sortBar {
	background-color: #007cc7;
	color: white;
	line-height: 50px;
	position: absolute;
	text-align: center;
}
.sortButton {
	all: unset;
	color: white;
	display: block;
	height: 50px;
	text-align: center;
	width: 100%;
}
.sortButton:hover {
	background-color: #203647;
	cursor: pointer;
}
.topNavButton {
	all: unset;
	align-items: center;
	color: white;
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}
.topNavButton div {
	margin-right: 10px;
}
#bottomContainer {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	max-width: 100%;
}
#bottomRightContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
#countDiv {
	background-color: #1a1a1a;
	border-top: solid 2px #203647;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}
#newArrayButton {
	color: white;
	margin-right: 20px;
}
#newArrayButton:hover {
	color: #4da8da;
	cursor: pointer;
}
#pauseButton {
	color: white;
	visibility: hidden;
}
#pauseButton:hover {
	color: #4da8da;
	cursor: pointer;
}
#sideNav {
	background-color: #1a1a1a;
	border-right: solid 2px #203647;
    color: white;
	height: 100%;
	left: 0;
	min-width: 150px;
}
#sortingDiv {
	flex-grow: 1;
	position: relative;
	width: 100%;
}
#topNav {
	align-items: center;
	background-color: #1a1a1d;
	border-bottom: solid 2px #203647;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
	overflow-x: hidden;
}
#topNavLogo {
	color: #4da8da;
	font-size: 1.2em;
	margin-right: 20px;
}